# deploy/local/web.yml
name: rails_cruella_local

volumes:
  postgres_data: {}
  postgres_data_backups: {}
  redis_data: {}
  bootsnap_cache: {}
  bundle_cache: {}
  garage_meta: {}
  garage_data: {}

services:
  postgres:
    build:
      context: ../..
      dockerfile: ./deploy/production/compose/postgres/Dockerfile
    image: postgres
    container_name: postgres
    volumes:
      - postgres_data:/var/lib/postgresql
      - postgres_data_backups:/backups
    env_file:
      - ./.envs/.postgres

  rails:
    build:
      context: ../..
      dockerfile: ./deploy/local/compose/rails/Dockerfile
    image: rails
    container_name: rails
    depends_on:
      - postgres
      - redis
      - garage
    volumes:
      - ../..:/app:z
      - bootsnap_cache:/app/tmp/cache/bootsnap
      - bundle_cache:/usr/local/bundle
    env_file:
      - ./.envs/.rails
    ports:
      - "8000:8000"
    command: /start

  redis:
    image: docker.io/redis:8
    container_name: redis
    volumes:
      - redis_data:/data

  sidekiq_worker:
    build:
      context: ../..
      dockerfile: ./deploy/local/compose/rails/Dockerfile
    image: sidekiq_worker
    container_name: sidekiq_worker
    depends_on:
      - redis
      - postgres
    volumes:
      - ../..:/app:z
      - bootsnap_cache:/app/tmp/cache/bootsnap
      - bundle_cache:/usr/local/bundle
    env_file:
      - ./.envs/.rails
    command: /start-sidekiq-worker

  sidekiq_web:
    build:
      context: ../..
      dockerfile: ./deploy/local/compose/rails/Dockerfile
    image: sidekiq_web
    container_name: sidekiq_web
    depends_on:
      - redis
      - postgres
    volumes:
      - ../..:/app:z
      - bootsnap_cache:/app/tmp/cache/bootsnap
      - bundle_cache:/usr/local/bundle
    env_file:
      - ./.envs/.rails
    ports:
      - "4567:4567"
    command: /start-sidekiq-web

  garage:
    image: dxflrs/garage:v2.2.0
    container_name: garage
    volumes:
      - ../../deploy/local/compose/garage/garage.toml:/etc/garage.toml:ro
      - garage_meta:/var/lib/garage/meta
      - garage_data:/var/lib/garage/data
    ports:
      - "3900:3900"
      - "3903:3903"

  garage_webui:
    image: khairul169/garage-webui:latest
    container_name: garage_webui
    depends_on:
      - garage
    volumes:
      - ../../deploy/local/compose/garage/garage.toml:/etc/garage.toml:ro
    environment:
      - GARAGE_ADMIN_TOKEN=b8b4901892035bfd7a098412c4135523a43bec6628ef3029319a915ae5ec3e59
    ports:
      - "3909:3909"
