# deploy/local/web.yml
name: rails_cruella_local

volumes:
  postgres_data: {}
  postgres_data_backups: {}
  redis_data: {}
  bootsnap_cache: {}
  bundle_cache: {}
  seaweed_master_data: {}
  seaweed_volume_data: {}

services:
  postgres:
    build:
      context: ../..
      dockerfile: ./deploy/production/compose/postgres/Dockerfile
    image: postgres
    container_name: postgres
    volumes:
      - postgres_data:/var/lib/postgresql
      - postgres_data_backups:/backups
    env_file:
      - ./.envs/.postgres

  rails:
    build:
      context: ../..
      dockerfile: ./deploy/local/compose/rails/Dockerfile
    image: rails
    container_name: rails
    depends_on:
      - postgres
      - redis
      - seaweeds3
    volumes:
      - ../..:/app:z
      - bootsnap_cache:/app/tmp/cache/bootsnap
      - bundle_cache:/usr/local/bundle
    env_file:
      - ./.envs/.rails
    ports:
      - "8000:8000"
    command: /start

  redis:
    image: docker.io/redis:8
    container_name: redis
    volumes:
      - redis_data:/data

  sidekiq_worker:
    build:
      context: ../..
      dockerfile: ./deploy/local/compose/rails/Dockerfile
    image: sidekiq_worker
    container_name: sidekiq_worker
    depends_on:
      - redis
      - postgres
    volumes:
      - ../..:/app:z
      - bootsnap_cache:/app/tmp/cache/bootsnap
      - bundle_cache:/usr/local/bundle
    env_file:
      - ./.envs/.rails
    command: /start-sidekiq-worker

  sidekiq_web:
    build:
      context: ../..
      dockerfile: ./deploy/local/compose/rails/Dockerfile
    image: sidekiq_web
    container_name: sidekiq_web
    depends_on:
      - redis
      - postgres
    volumes:
      - ../..:/app:z
      - bootsnap_cache:/app/tmp/cache/bootsnap
      - bundle_cache:/usr/local/bundle
    env_file:
      - ./.envs/.rails
    ports:
      - "4567:4567"
    command: /start-sidekiq-web

  seaweed_master:
    image: chrislusf/seaweedfs:latest
    container_name: seaweed_master
    volumes:
      - seaweed_master_data:/data
    command: "master -ip=seaweed_master -ip.bind=0.0.0.0 -port=9333 -mdir=/data"

  seaweed_volume:
    image: chrislusf/seaweedfs:latest
    container_name: seaweed_volume
    volumes:
      - seaweed_volume_data:/data
    depends_on:
      - seaweed_master
    command: "volume -ip=seaweed_volume -ip.bind=0.0.0.0 -master=seaweed_master:9333 -port=8080 -dir=/data"

  seaweed_filer:
    image: chrislusf/seaweedfs:latest
    container_name: seaweed_filer
    depends_on:
      - seaweed_master
      - seaweed_volume
    ports:
      - "8888:8888"
    command: "filer -ip=seaweed_filer -ip.bind=0.0.0.0 -master=seaweed_master:9333"

  seaweeds3:
    image: chrislusf/seaweedfs:latest
    container_name: seaweeds3
    volumes:
      - ../../deploy/local/compose/seaweed/s3.json:/config/s3.json:ro
    depends_on:
      - seaweed_master
      - seaweed_volume
      - seaweed_filer
    ports:
      - "8333:8333"
    command: "s3 -ip.bind=0.0.0.0 -port=8333 -filer=seaweed_filer:8888 -config=/config/s3.json"
