# deploy/production/web.yml
name: rails_cruella_production

volumes:
  postgres_data: {}
  postgres_data_backups: {}
  redis_data: {}
  bootsnap_cache: {}
  bundle_cache: {}

services:
  postgres:
    build:
      context: ../..
      dockerfile: ./deploy/production/compose/postgres/Dockerfile
    image: postgres
    container_name: postgres
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql
      - postgres_data_backups:/backups
    env_file:
      - ./.envs/.postgres

  redis:
    image: docker.io/redis:8
    container_name: redis
    restart: always
    volumes:
      - redis_data:/data

  rails:
    build:
      context: ../..
      dockerfile: ./deploy/production/compose/rails/Dockerfile
    image: rails
    container_name: rails
    restart: always
    depends_on:
      - postgres
      - redis
    volumes:
      - bootsnap_cache:/app/tmp/cache/bootsnap
      - bundle_cache:/usr/local/bundle
    env_file:
      - ./.envs/.rails
    ports:
      - "8000:8000"
    command: /start

  sidekiq_worker:
    build:
      context: ../..
      dockerfile: ./deploy/production/compose/rails/Dockerfile
    image: sidekiq_worker
    container_name: sidekiq_worker
    restart: always
    depends_on:
      - redis
      - postgres
    volumes:
      - bootsnap_cache:/app/tmp/cache/bootsnap
      - bundle_cache:/usr/local/bundle
    env_file:
      - ./.envs/.rails
    command: /start-sidekiq-worker

  sidekiq_web:
    build:
      context: ../..
      dockerfile: ./deploy/production/compose/rails/Dockerfile
    image: sidekiq_web
    container_name: sidekiq_web
    restart: always
    depends_on:
      - redis
      - postgres
    volumes:
      - bootsnap_cache:/app/tmp/cache/bootsnap
      - bundle_cache:/usr/local/bundle
    env_file:
      - ./.envs/.rails
    ports:
      - "4567:4567"
    command: /start-sidekiq-web
